# =========================
# Python artifacts
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual environments
# =========================
bb-env/
venv/
.env/

# =========================
# OS / Editor noise
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# Model training leftovers
# =========================
*.log
